<%= p.fields_for :basic_party_info, BasicPartyInfo.new do |ff| %>
  <div class="row">
    <h2>Name</h2>
  </div>
  
  <div class="row">
    <%= ff.text_field :first_name, placeholder: 'First name' %>
    <%= ff.text_field :middle_name, placeholder: 'Middle name' %>
    <%= ff.text_field :last_name, placeholder: 'Last name' %>
    <%= ff.text_field :suffix, placeholder: 'Suffix' %>
  </div>

  <% if party.party_type == 'Protected Person' || party.party_type == 'Petitioner' %>
    <div class="row">
      <h2>Attorney</h2>
    </div>

    <div class="row">
      <%= ff.select :attorney_id, Attorney.all.collect {|a| [ a.name, a.id ]}, { prompt: 'Attorney' } %>
    </div>

    <%= render 'attorney_form' %>
  <% end %>

<% end %>