<%= p.fields_for :contact_info, ContactInfo.new do |ff| %>
  <div class="row">
    <h2>Address</h2>
  </div>

  <%= form_row(5) do %>
    <%= ff.text_field :street_address_1, placeholder: 'Street Address', class: 'form-control' %>
  <% end %>

  <%= form_row(5) do %>
    <%= ff.text_field :street_address_1, placeholder: 'Street Address (line 2)', class: 'form-control' %>
  <% end %>

  <%= form_row(3) do %>
    <%= ff.text_field :city, placeholder: 'City', class: 'form-control' %>
  <% end %>

  <%= form_row(2) do %>
    <%= ff.select :state, options_for_select(us_states), { prompt: 'State' }, { class: 'form-control' } %>
  <% end %>

  <%= form_row(2) do %>
    <%= ff.text_field :zip, placeholder: 'Zip', class: 'form-control' %>
  <% end %>

  <div class="row">
    <h2>Contact Information</h2>
  </div>

  <%= form_row(3) do %>
    <%= ff.phone_field :home_phone, placeholder: 'Home Phone', class: 'form-control' %>
  <% end %>

  <%= form_row(3) do %>
    <%= ff.phone_field :work_phone, placeholder: 'Work Phone', class: 'form-control' %>
  <% end %>

  <%= form_row(3) do %>
    <%= ff.phone_field :cell_phone, placeholder: 'Cell Phone', class: 'form-control' %>
  <% end %>

  <%= form_row(4) do %>
    <%= ff.email_field :email, placeholder: 'Email', class: 'form-control' %>
  <% end %>
<% end %>