<%= p.fields_for :contact_info, ContactInfo.new do |ff| %>
  <div class="row">
    <h2>Address</h2>
  </div>

  <div class="row">
    <%= ff.text_field :street_address_1, placeholder: 'Street Address' %>
  </div>

  <div class="row">
    <%= ff.text_field :street_address_1, placeholder: 'Street Address (line 2)' %>
  </div>

  <div class="row">
    <%= ff.text_field :city, placeholder: 'City' %>
    <%= ff.select :state, options_for_select(us_states), {prompt: 'State'}%>
    <%= ff.text_field :zip, placeholder: 'Zip' %>
  </div>

  <div class="row">
    <h2>Contact Information</h2>
  </div>

  <div class="row">
    <%= ff.phone_field :home_phone, placeholder: 'Home Phone' %>
  </div>

  <div class="row">
    <%= ff.phone_field :work_phone, placeholder: 'Work Phone' %>
  </div>

  <div class="row">
    <%= ff.phone_field :cell_phone, placeholder: 'Cell Phone' %>
  </div>

  <div class="row">
    <%= ff.email_field :email, placeholder: 'Email' %>
  </div>
<% end %>