<%= p.fields_for :demographic_info, party.demographic_info || DemographicInfo.new do |ff| %>
  <div class="row">
    <h2>Demographics</h2>
  </div>

  <% if party.party_type == 'Protected Person' || party.party_type == 'Petitioner' %>
    <%= form_row(5) do %>
      <%= ff.label :date_of_birth %>
      <%= ff.date_field :date_of_birth, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= form_row(2) do %>
    <%= ff.select :gender, ['Male', 'Female'], { prompt: 'Gender' }, { class: 'form-control' } %>
  <% end %>
  
  <div class="row">
    <div class="col-md-2">
      <%= ff.text_field :race, placeholder: 'Race', class: 'form-control' %>
    </div>

    <div class="input-group col-md-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <%= ff.check_box :hispanic %>
        </div>
      </div>
      <%= ff.label :hispanic, "Hispanic?", class: "form-control" %>
    </div>
  </div>
<% end %>