<%= p.fields_for :demographic_info, DemographicInfo.new do |ff| %>
  <div class="row">
    <h2>Demographics</h2>
  </div>

  <% if party.party_type == 'Protected Person' || party.party_type == 'Petitioner' %>
    <div class="row">
      <%= ff.label :date_of_birth %>
      <%= ff.date_field :date_of_birth %>
    </div>
  <% end %>

  <div class="row">
    <%= ff.select :gender, ['Male', 'Female'], {prompt: 'Gender'} %>
  </div>
    
  <div class="row">
    <%= ff.text_field :race, placeholder: 'Race' %>
    <%= ff.label :hispanic, 'Hispanic?' %>
    <%= ff.check_box :hispanic %>
  </div>
<% end %>