<%= form_for [guardianship, party] do |p| %>

  <%= render 'basic_party_info', { party: party, p: p } %>

  <%= render 'demographic_info', { party: party, p: p } %>

  <%= render 'contact_info', { party: party, p: p } %>

  <% if party.party_type == 'Protected Person' %>
    <%= render 'protected_person_info', { party: party, p: p } %>
  <% end %>

  <div class="row mb-3">
    <%= p.submit class: 'btn btn-primary' %>
  </div>
<% end %>