<% if party.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <h2 class="alert-heading"><%= pluralize(party.errors.count, "error") %> prohibited this party from being saved:</h2>
 
    <% party.errors.full_messages.each do |msg| %>
      <hr>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_for [guardianship, party] do |p| %>

  <%= render 'basic_party_info', { party: party, p: p } %>

  <%= render 'demographic_info', { party: party, p: p } %>

  <%= render 'contact_info', { party: party, p: p } %>

  <% if party.party_type == 'Protected Person' %>
    <%= render 'protected_person_info', { party: party, p: p } %>
  <% end %>

  <div class="row mb-3">
    <%= p.submit class: 'btn btn-primary' %>
  </div>
<% end %>