<div class="row">
  <h1>New <%= @party.party_type %></h1>
</div>

<%= form_for @party, url: guardianship_parties_path do |p| %>

  <%= p.fields_for :basic_party_info, BasicPartyInfo.new do |form_helper_obj| %>
    <div class="row">
      <h2>Name</h2>
    </div>
    <div class="row">
      <%= form_helper_obj.text_field :first_name, placeholder: 'First name' %>
      <%= form_helper_obj.text_field :middle_name, placeholder: 'Middle name' %>
      <%= form_helper_obj.text_field :last_name, placeholder: 'Last name' %>
      <%= form_helper_obj.text_field :suffix, placeholder: 'Suffix' %>
    </div>
  <% end %>

  <%= p.fields_for :demographic_info, DemographicInfo.new do |form_helper_obj| %>
    <div class="row">
      <h2>Demographics</h2>
    </div>

    <div class="row">
      <%= form_helper_obj.label :date_of_birth %>
      <%= form_helper_obj.date_field :date_of_birth %>
    </div>

    <div class="row">
      <%= form_helper_obj.select :gender, ['Male', 'Female'], {prompt: 'Gender'} %>
    </div>
      
    <div class="row">
      <%= form_helper_obj.text_field :race, placeholder: 'Race' %>
      <%= form_helper_obj.label :hispanic, 'Hispanic?' %>
      <%= form_helper_obj.check_box :hispanic %>
    </div>
  <% end %>

  <%= p.fields_for :contact_info, ContactInfo.new do |form_helper_obj| %>
    <div class="row">
      <h2>Address</h2>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :street_address_1, placeholder: 'Street Address' %>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :street_address_1, placeholder: 'Street Address (line 2)' %>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :city, placeholder: 'City' %>
      <%= form_helper_obj.select :state, options_for_select(us_states), {prompt: 'State'}%>
      <%= form_helper_obj.text_field :zip, placeholder: 'Zip' %>
    </div>

    <div class="row">
      <h2>Contact Information</h2>
    </div>

    <div class="row">
      <%= form_helper_obj.phone_field :home_phone, placeholder: 'Home Phone' %>
    </div>

    <div class="row">
      <%= form_helper_obj.phone_field :work_phone, placeholder: 'Work Phone' %>
    </div>

    <div class="row">
      <%= form_helper_obj.phone_field :cell_phone, placeholder: 'Cell Phone' %>
    </div>

    <div class="row">
      <%= form_helper_obj.email_field :email, placeholder: 'Email' %>
    </div>
  <% end %>

  <%= p.fields_for :protected_person_info, ProtectedPersonInfo.new do |form_helper_obj| %>
    <div class="row">
      <h2>Additional Details</h2>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :estimated_value, placeholder: 'Estimated Value' %>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :eye_color, placeholder: 'Eye Color' %>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :hair_color, placeholder: 'Hair Color' %>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :height, placeholder: 'Height' %>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :weight, placeholder: 'Weight' %>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :identifying_marks, placeholder: 'Scars, Marks, and Tattoos' %>
    </div>

    <div class="row">
      <%= form_helper_obj.text_field :gal_name, placeholder: 'GAL Name' %>
    </div>

    <div class="row">
      <%= form_helper_obj.label :interpreter_required, 'Interpreter Required?' %>
      <%= form_helper_obj.check_box :interpreter_required %>
      <%= form_helper_obj.text_field :language, placeholder: 'Language' %>
    </div>

  <% end %>

  <%= p.submit %>
<% end %>
