<h1><%= @guardianship.short_caption %></h1>

<p><%= @guardianship.description %>

<% party_types.each do |party_type| %>
  <%= render 'parties_list', { guardianship: @guardianship, party_type: party_type } %>
<% end %>

<%= form_row(3) do %>
  <%= button_to "Delete Guardianship", guardianship_path(@guardianship), method: 'delete', class: "btn btn-danger" %>
<% end %>