<h1><%= @guardianship.short_caption %></h1>

<p><%= @guardianship.description %>

<% party_types.each do |party_type| %>
  <%= render 'parties_list', { guardianship: @guardianship, party_type: party_type } %>
<% end %>

<div class="row">
  <div class="btn-group" role="group">
    <%= link_to "Edit", edit_guardianship_path(@guardianship), class: "btn btn-light" %>
    <%= link_to "Delete Guardianship", guardianship_path(@guardianship), method: 'delete', class: "btn btn-danger" %>
  </div>
</div>