<h1><%= @guardianship.short_caption %></h1>

<p><%= @guardianship.description %>

<p><strong>Protected Person:</strong> <%= @guardianship.protected_person.name %></p>

<p><strong>Petitioners:</strong> <%= name_list_for(@guardianship.petitioners) %></p>

<p><strong>Interested Parties:</strong> <%= name_list_for(@guardianship.interested_parties) %></p>